@import '../../../Constants.scss';


.add-contaner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;


    .task {
        z-index: 2;
        background-color: $main-font-color;
        color: $primary-color;
        margin-bottom: 30px;
        border-radius: 30px;
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        height: auto;

        &.active {
            align-items: inherit;
            flex-direction: column;
        }

        .stats {
            .colvoZad {
                font-size: $second-font-size;
            }
        }


        .NameZad {
            margin-bottom: 30px;
        }

        .SettingsTask {
            margin: 0 0 0 auto;
            cursor: pointer;
            border: 2px solid $primary-color;
            border-radius: 5px;
            padding: 10px;
            fill: black;
            width: 60px !important;
            height: 60px !important;

            &:hover {
                background-color: #CCFFA5;
                fill: black;
            }
        }


        .textdisc {
            margin-top: 30px;
            margin-left: 30px;
            margin: 30px 0px 30px 30px;
            color: $primary-color !important;

            span,
            svg,
            svg path,
            svg line,
            svg polyline,
            svg polygon {
                stroke: $primary-color !important;
                fill: transparent !important;
            }

            .ql-container {
                min-height: 300px;
                font-family: $main-font;
                font-size: $second-font-size;
                color: $primary-color !important;

                p {
                    color: $primary-color !important;
                }
            }
        }

        .addEtaps {
            margin: 30px 0 20px 0px;

            .Etap {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                width: auto;
                justify-content: left;

                .comp {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    flex: 1;

                    .DellEtap {
                        fill: #FF7474;
                        margin-right: 20px;
                        cursor: pointer;
                        border: 2px solid $primary-color;
                        border-radius: 5px;
                        padding: 10px;
                        width: 60px !important;
                        height: 60px !important;

                    }


                    .custom-select__control {
                        background-color: $main-font-color ;
                        border: 2px solid $primary-color !important;

                        .custom-select__single-value {
                            color: $primary-color !important;
                        }
                    }

                    .custom-select__menu-list {
                        background-color: $main-font-color !important;
                        border: 2px solid;
                        border-radius: 5px;
                        color: $primary-color !important;

                        .custom-select__option--is-focused {
                            color: #FFB72B;
                            background-color: transparent !important;
                        }

                        .custom-select__option--is-selected {
                            color: #6BFF35;
                            background-color: transparent !important;
                        }
                    }




                    .inputEtzps {
                        border: 2px solid $primary-color !important;
                        margin: 0 0 0 20px;
                        text-align: center;
                        border-radius: 5px;
                        font-size: $second-font-size;
                        height: 60px;
                        flex: 1;
                    }

                    p {
                        margin-right: 10px;
                    }

                    .custom-select {
                        flex: 1;
                    }
                }
            }
        }

        .AddComp {
            height: 50px;
            width: 50px;
            cursor: pointer;
            margin: 0 auto 40px auto;
        }


        .butns {
            margin: 0 auto;
            display: flex;
            height: 60px;

            .save-btn {
                color: $main-font-color ;
                background-color: $primary-color;
                font-size: $second-font-size;
                font-family: $main-font;
                width: 200px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .del-btn {
                margin-left: 20px;
                color: $main-font-color ;
                background-color: #FF7474;
                font-size: $second-font-size ;
                font-family: $main-font;
                width: 200px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        input {
            height: 50px;
            margin-bottom: 20px;
            font-family: $main-font;
            font-size: $main-font-size;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $primary-color;
            color: $primary-color;
        }

        input:focus {
            outline: none;
        }

        textarea {
            min-height: 300px;
            font-size: $second-font-size;
            font-family: $main-font;
            margin-bottom: 20px;
            border-radius: 5px;
            font-family: $main-font;
            font-size: $main-font-size;
            background-color: transparent;
            border: 2px solid $primary-color;
            color: $primary-color;
        }

        .SelectOtv {

            margin: 30px 0;

            [class*="-control"] {
                border: 2px solid $primary-color !important;
                box-shadow: none !important;
                background-color: $main-font-color;
                font-family: $main-font;
                font-size: $main-font-size;

                &:hover {
                    border: 2px solid $primary-color !important;
                    box-shadow: none !important;
                }
            }

            [class*="-MenuList"] {
                border: 2px solid $primary-color !important;
                box-shadow: none !important;
                background-color: $main-font-color;
                font-family: $main-font;
                font-size: $main-font-size;
                border-radius: 5px;
            }

        }

    }

    .AddTask {
        margin: 0 auto;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

}

.saveTask {
    margin: 50px auto;
    width: 400px;
    background-color: $main-font-color;
    font-family: $main-font;
    font-size: $main-font-size;
    border-radius: px;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    color: $primary-color ;

    &:hover {
        background-color: #CCFFA5;
        color: black;
    }
}