@import '../../Constants.scss';

.header-contaner {
    margin: 55px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    color: #FFF;
    font-family: $main-font;
    font-weight: 400;

    .header-properties {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 45px;
        color: $main-font-color;
    }

    .logo {
        color: $main-font-color;

        path {
            fill: $main-font-color;
        }
    }

    .name {
        // position: absolute;
        // top: $header-top;
        // margin-right: 50px;
        // right: $header-marg;
        color: $main-font-color;
    }

    .loginOut {
        // position: absolute;
        // top: $header-top;
        // right: $header-marg;
        // margin-right: 200px;
        color: $main-font-color;
    }

    .language-place {
        font-family: $main-font;
        font-weight: 500;
        font-size: 30px;
        transition: background-size .4s;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        &:hover{
            background-size: 100% 2px;
        }
    }
}