@import '../../Constants.scss';

.theme-switcher {

    width: 80px;
    border: 2px solid $main-font-color;
    border-radius: 50px;
    height: 34px;
    display: flex;
    align-items: center;

    .qwe {
        position: relative;
        transition: right 1s !important;
        right: -5px;
        height: 34px;
        &.moon {
            color: $main-font-color;
            right: -47px;
        }

        &.sun {
            color: $main-font-color;
        }
    }

    svg {
        height: 24px !important;
        width: 24px !important;
        cursor: pointer;
    }

}