@import '../../Constants.scss';

.theme-switcher {

    width: 80px;
    border: 2px solid $main-font-color;
    border-radius: 50px;
    height: 34px;
    display: flex;
    align-items: center;

    .theme {
        position: relative;
        transition: right 0.5s !important;
        right: 1px;
        height: 34px;
        background-color: $main-font-color ;
        border-radius: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.moon {
            color: $primary-color;
            right: -27px;
        }

        &.sun {
            color: $primary-color;
        }
    }

    svg {
        height: 24px !important;
        width: 24px !important;

    }

}