@import 'constants';

html,
body,
#root{
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: $primary-color;
  margin: 0;
  padding: 0;
  color: $main-font-color ;
  z-index: 0;
  transition: 1s;
}

.todo_menu{
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}