
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


$primary-color: var(--background-color);
$main-font-color : var(--text-color);
$main-font-size:30px;
$second-font-size:22px;
$header-top  : 60px;
$header-marg: 70px;
$main-font : Inter;

